.main-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
}
body{
  background-color: #F0F0F7;
}
.head{
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 20px;
  background: #ffffff;
}
.icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  padding: 5px 10px;
  margin-right: 40px;
}
.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
}
.data-container{
  display: flex;
  width: 85%;
  height: 100vh;
  flex-direction: column;
  background-color: #F0F0F7;
  align-items: flex-end;
}
.right-side{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 75px;
  padding-right: 80px;
}
.todo-title{
  font-family: 'Source Sans Pro';
  font-size: 28px;
  margin: 30px 0 75px;
}
.data-box{
  height: 627.51px;
  background-color: #ffffff;
}
.navigation{
  position: fixed;
  top: 70px;
  left: -15%;
  width: 15%;
  height: 100%;
  background: #43425D;
}
.navigation ul{
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}
.navigation ul li:hover{
  background: #2F2E50;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #ffffff;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation ul li a .icon .icon-img{
  font-size: 15px;
  font-family: 'Source Sans Pro';
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}
.toggle{
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: #43425D;
}
.toggle:hover{
  background:#2F2E50 ;
}
.nav-tlt{
  font-family: 'Source Sans Pro Bold';
  font-size: 15px;
  color: #fff;
}
.nav-icon{
  cursor: pointer;
}
.nav-icon:hover{
  border: 1px solid #a70953;
}

.show{
 left: 0;
}


.navigation>ul>li:hover #Path_357{
  fill: #A3A0FB;
  transition: ease-in 0.1s all;
}
.navigation>ul>li:hover #Union_8{
  fill: #A3A0FB;
  transition: ease-in 0.1s all;
}
.navigation>ul>li:hover #Union_9{
  fill: #A3A0FB;
  transition: ease-in 0.1s all;
}
.navigation>ul>li:hover #Path_108{
  fill: #A3A0FB;
  transition: ease-in 0.1s all;
}

/* pagination table */
.table-tlt{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.tb-tlt{
  padding: 5px;
  display: flex;
  justify-content: center;
  padding-left: 20px;
}
.mid{
  padding-left: 20px;
}
.pagination {
  min-width: 300px;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 20px;
}
.pagination .tableList {
    min-height: 250px;
    text-indent: 20px;
    width: 100%;
}
.tableList .objectBlock {
    position: relative;
    color: rgb(14, 13, 13);
    padding: 10px;
    margin-bottom: 10px;
  
}
.pageButton {
    border: 1px solid #E8E9EC;
    padding: 5px;
    background-color: white;
}
#button_prev{
  background-color:#fff;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#button_prev:hover{
  background-color: #161516;
}
#button_next{
  background-color:#fff;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center; 
}
#button_next:hover{
  background-color: #161516;
}
.clickPageNumber {
  border: 1px solid #E8E9EC;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 10px 12px;
  margin: 0 2px 0 2px;
}
.clickPageNumber:hover{
  background-color: #3B86FF;
}
.page_number{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-block {
 display: flex;
 justify-content: flex-end;
  width: 100%;
  margin-top: 30px;
}
.pagination-block span {
  display: inline-block;
}
.pagination-block .pageButton {
  background-color: grey;
  color: white;
}
.pagination-block span:hover {
  cursor: pointer;
}
.opacity {
  opacity: 0.5;
}
.outline-none {
  outline: none;
  user-select: none; 
}
.mro{
display: flex;
justify-content: space-between;
width: 100%;
height: 40px;
align-items: center;
border-bottom: 0.1px solid rgb(230, 221, 221);

}
