.main-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
}
body{
  background-color: #F0F0F7;
}
.head{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 20px;
  background: #ffffff;
}
.icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  padding: 5px 10px;
  margin-right: 40px;
}
.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
}
.data-container{
  display: flex;
  width: 85%;
  height: 100vh;
  flex-direction: column;
  background-color: #F0F0F7;
  align-items: flex-end;
}
.right-side{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 75px;
  padding-right: 80px;
}
.todo-title{
  font-family: 'Source Sans Pro';
  font-size: 28px;
  margin: 30px 0 75px;
}
.data-box{
  /* height: 627.51px; */
  background-color: #ffffff;
}
.navigation{
  position: fixed;
  top: 70px;
  left: 0;
  width: 260px;
  height: 100%;
  background: #43425D;
  transition: 200ms ease-in-out;
}
.navigation ul{
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}
.navigation ul li:hover{
  background: #2F2E50;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #ffffff;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation ul li a .icon .icon-img{
  font-size: 15px;
  font-family: 'Source Sans Pro';
}
.navigation ul li a .nav-title {
  position: relative;
  /* display: block; */
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}
.toggle{
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: #43425D;
  transition: 200ms ease-in-out;
}
.show{
  left: -260px;
 }
.toggle:hover{
  background:#2F2E50 ;
}
.nav-tlt{
  font-family: 'Source Sans Pro Bold';
  font-size: 15px;
  color: #fff;
}
.nav-icon{
  cursor: pointer;
}
.nav-icon:hover{
  border: 1px solid #a70953;
}



.navigation>ul>li:hover #Path_357{
  fill: #A3A0FB;
  transition: ease-in 0.1s all;
}
.navigation>ul>li:hover #Union_8{
  fill: #A3A0FB;
  transition: ease-in 0.1s all;
}
.navigation>ul>li:hover #Union_9{
  fill: #A3A0FB;
  transition: ease-in 0.1s all;
}
.navigation>ul>li:hover #Path_108{
  fill: #A3A0FB;
  transition: ease-in 0.1s all;
}



/* pagination table */

.add-td{
  font-family: 'Source Sans Pro Bold';
  font-size: 20px;
}
.title-b{
  font-family: 'Source Sans Pro ';
  font-size: 16px;
}
.save{
  width: 100px;
  height: 34px;
  background-color: hsl(217, 76%, 67%);
  border-radius: 5px;
  cursor: pointer;
}
.adt{
  font-family: 'Source Sans Pro Bold';
  font-size: 12px;
}
.thrd{
  display: flex;
  justify-content: flex-end;
}
.todo-head{
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  height: 50px;
}
.add-btn{
  width: 125px;
  height: 34px;
  background-color: hsl(217, 76%, 67%);
  border-radius: 5px;
  cursor: pointer;
}
.adt{
  color: white;
}
.all-todo{
  font-family: 'Source Sans Pro ';
  font-size: 18px;
  display: flex;
}

.table-tlt{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.tb-tlt{
  font-family: 'Source Sans Pro Bold';
  font-size: 13px;
  color: #A3A6B4;
  padding: 5px;
  display: flex;
  justify-content: center;
  padding-left: 20px;
}
.mid{
  width: 30%;
  justify-content: flex-start;
}
.pagination {
  min-width: 300px;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 20px;
}
.pagination .tableList {
    height: 450px;
    min-height: 250px;
    text-indent: 20px;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.userTitle{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  font-family: 'Source Sans Pro';
  font-size: 13px;
}
.userId{
  font-family: 'Source Sans Pro';
  font-size: 13px;
  display: flex;
  justify-content: center;
}
.userComp{
  font-family: 'Source Sans Pro';
  font-size: 13px;
}
.tableList .objectBlock {
    position: relative;
    color: rgb(14, 13, 13);
    padding: 10px;
    margin-bottom: 10px;
  
}
.pageButton {
    border: 1px solid #E8E9EC;
    padding: 5px;
    background-color: white;
}
#button_prev{
  background-color:#fff;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#button_prev:hover{
  background-color: #161516;
}
#button_next{
  background-color:#fff;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center; 
}
#button_next:hover{
  background-color: #161516;
}
.clickPageNumber {
  border: 1px solid #E8E9EC;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 10px 12px;
  margin: 0 2px 0 2px;
}
.clickPageNumber:hover{
  background-color: #3B86FF;
}
.page_number{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-block {
 display: flex;
 justify-content: flex-end;
  width: 100%;
  margin-top: 30px;
}
.pagination-block span {
  display: inline-block;
}
.pagination-block .pageButton {
  background-color: grey;
  color: white;
}
.pagination-block span:hover {
  cursor: pointer;
}
.opacity {
  opacity: 0.5;
}
.outline-none {
  outline: none;
  user-select: none; 
}
.mro{
display: flex;
justify-content: space-between;
width: 100%;
height: 40px;
align-items: center;
border-bottom: 0.1px solid rgb(230, 221, 221);
padding: 20px;
}
.mro:hover{
  background-color: #dad2d2;
}



/* PopUp windows */


.modal {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  height: 200px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 10px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}



.pop{
  position: fixed;
  top: -200px;
  right: 4%;
  margin-right : 50px;
  /* transform: translate(-50%, -50%) scale(0); */
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 200px;
  height: 200px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 10px;

}
.scale{
  top: 50px;
}
.pop-header{
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.pop-title{
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pop-add-td{
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  color:#4D565C;
}
.pop-add-td:hover{
  background-color: #3B86FF;
  color:#fff;
}
.acc-set{
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #4D565C;
  font-family: 'Source Sans Pro';
  font-size: 15px;
}
.acc-set:hover{
  background-color: #3B86FF;
  color:#fff;
}

/* Responsive */

@media screen and (max-width: 1350px){
	.data-container{
    width: 80%;
  }
  .right-side{
    padding: 0 20px 0 60px;
  }
}

@media screen  and (max-width: 1100px){
  .navigation{
    left: -260px;
  }
  .show{
    left: 0;
  }
  .data-container{
    width: 100%;
  }
  .right-side{
    padding: 30px;
  }
}
@media screen and (max-width: 600px) {
  .nav-tlt{
    display: none;
  }
  .toggle{
    width: 90px;
  }
  .navigation{
    width: 90px;
  }
  .nav-title{
    display:none;
  }
  .icon{
    margin-left: 10px;
  }
}

@media screen and (max-width: 390px) {
  .icons{
    margin-right: 10px;
  }
  .user-name{
    display: none;
  }
  .user{
    width: 60px;
  }
  .pagination{
    padding: 5px;
  }
  .data-box{
    height: 700px;
  }
  .right-side{
    padding: 2px;
  }
  .table-tlt{
    padding: 10px;
  }
  .pagination{
    padding: 0;
  }
  .mro{
    padding: 5px;
    justify-content: space-around;
    width: 90%;
  }
  .userTitle{
    width: 100px;
  }
  .right-side{
    padding: 2px;
  }
}

@media screen and (max-width: 280px) {
  .right-side{
    width: 100%;
    padding: 0;
  }
  #add-btn{
    width: 80px;
  }
 .main-container{
   width: 260px;
 }
 
 
  
 
}