.main-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
}
body{
  background-color: #F0F0F7;
}
.head{
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 20px;
  background: #ffffff;
}
.icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  padding: 5px 10px;
  margin-right: 40px;
}
.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
}
.data-container{
  display: flex;
  width: 85%;
  height: 100vh;
  flex-direction: column;
  background-color: #F0F0F7;
  align-items: flex-end;
}
.right-side{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 75px;
  padding-right: 80px;
}
.todo-title{
  font-family: 'Source Sans Pro';
  font-size: 28px;
  margin: 30px 0 75px;
}
.data-box{
  height: 627.51px;
  background-color: #ffffff;
}
.navigation{
  position: fixed;
  top: 70px;
  left: -15%;
  width: 15%;
  height: 100%;
  background: #43425D;
}
.navigation ul{
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}
.navigation ul li:hover{
  background: #2F2E50;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #ffffff;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation ul li a .icon .icon-img{
  font-size: 15px;
  font-family: 'Source Sans Pro';
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}
.toggle{
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: #43425D;
}
.toggle:hover{
  background:#2F2E50 ;
}
.nav-tlt{
  font-family: 'Source Sans Pro Bold';
  font-size: 15px;
  color: #fff;
}
.nav-icon{
  cursor: pointer;
}
.nav-icon:hover{
  border: 1px solid #a70953;
}

.show{
 left: 0;
}


.navigation>ul>li:hover #Path_357{
  fill: #A3A0FB;
  transition: ease-in 0.1s all;
}
.navigation>ul>li:hover #Union_8{
  fill: #A3A0FB;
  transition: ease-in 0.1s all;
}
.navigation>ul>li:hover #Union_9{
  fill: #A3A0FB;
  transition: ease-in 0.1s all;
}
.navigation>ul>li:hover #Path_108{
  fill: #A3A0FB;
  transition: ease-in 0.1s all;
}

/* table */
.table-section{
	width: 100%;
    margin-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.teble-content{
	width: 100%;
	padding: 20px 12%;
/*	overflow: scroll;*/
}
.table{
	width: 100%;
	border-collapse: collapse;
}
.table td, .table th{
	padding: 20px 50px;
	border-bottom: 1px solid #E7E7E7;
	text-align: left;
	font-family: 'Metropolis';
	font-size: 16px;
}
.table thead:hover{
	background-color: #F2F2F2;
	color: #FF2288;
}
.table tbody tr:hover{
	background-color: #F2F2F2;
	color: #FF2288;
}
#order{
	padding-left: 0;
}
.pagination-btns{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pag-a{
  text-decoration: none;
  padding: 15px;
  background-color: #FF2288;
  color:white;
  margin: 5px;
  border-radius: 5px;
}