.vertical-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.main-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
}
.left-image{
  width: 50%;
  height: 937px;
  background-image: url(../images/login-image.jpg);
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  display: flex;
}
.login-container{
  width: 50%;

}
.log-tlt{
  font-family: 'Source Sans Pro Bold';
  letter-spacing: 10px;
  font-size: 35px;
  margin-bottom: 10px;
  color: #43425D;
}
.log-txt{
  font-family: 'Source Sans Pro';
  font-size: 18px;
  color: #cfcfd1;
}
.log-txt:hover{
  color:#4D4F5C;
}
.buttons{
  padding: 5px;
  margin-top: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-btn{
  font-family: 'Source Sans Pro';
  color: #4D4F5C;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #43425D;
  padding: 15px 60px;
  background-color: #FFFFFF;
  cursor: pointer;
}
.sign-btn:hover{
  background-color:#43425D;
  color: #FFFFFF;
}

.name,.first-name,.last-name,.email,.password,.confirm{
  font-family: 'Source Sans Pro';
  font-size: 24px;
  color: #43425D;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 400px;
  height: 25px;
  border-bottom: 2px solid #E9E9F0;
  padding: 20px 10px;
  outline: none;
  }
::placeholder{
    font-size: 15px;
  }
.error-ms{
    border-bottom: 2px solid #FF6565;
  }
.pass-error,.confirm-error{
    height: 25px;
    margin-top: 15px;
    margin-left: 10px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    color: #FF6565;
  }
.first-name,.last-name{
  width: 187px;
}
.names{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.user-data,.email-input,.pass-input{
  margin-top: 20px;
}
.confirm-input{
  margin-bottom: 40px;
}
.agr{
  padding-left: 10px;
  font-family: 'Source Sans Pro';
  cursor: pointer;
}
#agreement{
  cursor: pointer;
}
.already-have{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.alr-txt{
  font-family: 'Source Sans Pro';
  font-size: 15px;
  text-decoration: underline;
  color: #43425D;
}
.terms{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 400px;
  height: 20px;
}
.trm-txt{
  font-family: 'Source Sans Pro';
  font-size: 11px;
  padding-top: 120px;
  color: #43425D;
}
#error{
  border-radius: 4px;
  padding: 2px;
  color:#cf0808;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}