.vertical-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.main-container{
  display: flex;
  flex-wrap: nowrap;
}
.left-image{
  width: 50%;
  height: 937px;
  background-image: url(../images/login-image.jpg);
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.login-container{
  width: 50%;
}
#rememberMe{
  cursor: pointer;
}
.log-tlt{
  font-family: 'Source Sans Pro Bold';
  letter-spacing: 10px;
  font-size: 35px;
  margin-bottom: 10px;
  color: #43425D;
}
.log-txt{
  font-family: 'Source Sans Pro';
  font-size: 18px;
  color: #cfcfd1;
}
.log-txt:hover{
  color:#4D4F5C;
}
.name-input{
  padding: 5px;
  margin-top: 20px;
}
.pass-input{
  padding: 5px;
  margin-top: 44px;
}
.rem-input{
  font-family: 'Source Sans Pro';
  padding: 5px;
  margin-top: 44px;
}
.forgot{
  font-family: 'Source Sans Pro';
}
.buttons{
  padding: 5px;
  margin-top: 44px;
}
.name,.password{
font-family: 'Source Sans Pro';
font-size: 24px;
color: #43425D;
border-top: none;
border-left: none;
border-right: none;
width: 400px;
height: 25px;
border-bottom: 2px solid #E9E9F0;
padding: 20px 10px;
outline:none ;
}
::placeholder{
  font-size: 15px;
}
.error-ms{
  border-bottom: 2px solid #FF6565;
}
.user-error,.pass-error{
  height: 25px;
  margin-top: 15px;
  margin-left: 10px;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  color: #FF6565;
}
.rem-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-btn{
font-family: 'Source Sans Pro';
color: #4D4F5C;
font-size: 18px;
border-radius: 4px;
border: 1px solid #43425D;
padding: 15px 60px;
background-color: #FFFFFF;
cursor: pointer;
}
.sign-btn{
  font-family: 'Source Sans Pro';
  color: #4D4F5C;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #43425D;
  padding: 15px 60px;
  background-color: #FFFFFF;
  cursor: pointer;
}
.sign-btn:hover{
  background-color:#43425D;
  color: #FFFFFF;
}
.login-btn:hover{
  background-color:#43425D;
  color: #FFFFFF;
}
.rem, .forgot{
  font-size: 15px;
  color: #4D4F5C;
  cursor: pointer;
}
#error{
  border-radius: 4px;
  padding: 2px;
  color:#cf0808;
  margin-top: 5px;
}
.terms{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 400px;
  height: 20px;
}
.trm-txt{
  font-family: 'Source Sans Pro';
  font-size: 11px;
  padding-top: 200px;
  color: #43425D;
}